<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>有机韭菜 </title>
		<link rel="stylesheet" type="text/css" href="../font/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../css/header-style.css"/>
		<link rel="stylesheet" type="text/css" href="../css/footer-style.css"/>
		<link rel="stylesheet" type="text/css" href="../css/float-style.css"/>
		<link rel="stylesheet" type="text/css" href="../css/productsShow.css"/>
		
	</head>
	<body>
		<div id="opacityBox"></div>
		<div id="add">
			<div id="add-header">请选择您的收货城市！</div>
				<ul id="add_body_city">
					<li>
						<strong>热门：</strong>
							<p>
								<a>北京</a>
								<a>上海</a>
								<a>天津</a>
							</p>
					</li>
					<li>
						<strong>山东：</strong>
							<p>
								<a>济南</a>
								<a>青岛</a>
								<a>烟台</a>
								<a>潍坊</a>
								<a>临沂</a>
								<a>淄博</a>
								<a>济宁</a>
								<a>泰安</a>
								<a>聊城</a>
								<a>威海</a>
								<a>枣庄</a>
								<a>德州</a>
								<a>日照</a>
								<a>东营</a>
								<a>菏泽</a>
								<a>滨州</a>
								<a>莱芜</a>
							</p>
					</li>
					<li>
						<strong>江苏：</strong>
						<p>
							<a>南京</a>
							<a>苏州</a>
							<a>无锡</a>
							<a>常州</a>
							<a>徐州</a>
							<a>南通</a>
							<a>扬州</a>
							<a>盐城</a>
							<a>淮安</a>
							<a>连云港</a>
							<a>泰州</a>
							<a>宿迁</a>
							<a>镇江</a>
						</p>
					</li>
					<li>
						<strong>浙江：</strong>
						<p>
							<a>杭州</a>
							<a>宁波</a>
							<a>温州</a>
							<a>金华</a>
							<a>嘉兴</a>
							<a>台州</a>
							<a>绍兴</a>
							<a>湖州</a>
							<a>丽水</a>
							<a>衢州</a>
							<a>舟山</a>
						</p>
					</li>
					<li>
						<strong>河南：</strong>
						<p>
							<a>郑州</a>
							<a>洛阳</a>
							<a>新乡</a>
							<a>南阳</a>
							<a>许昌</a>
							<a>平顶山</a>
							<a>安阳</a>
							<a>焦作</a>
							<a>商丘</a>
							<a>开封</a>
							<a>濮阳</a>
							<a>周口</a>
							<a>信阳</a>
							<a>驻马店</a>
							<a>漯河</a>
							<a>三门峡</a>
							<a>鹤壁</a>
							<a>济源</a>
						</p>
					</li>
					<li>
						<strong>辽宁：</strong>
						<p>
							<a>沈阳</a>
							<a>大连</a>
							<a>鞍山</a>
							<a>锦州</a>
							<a>抚顺</a>
							<a>营口</a>
							<a>盘锦</a>
							<a>朝阳</a>
							<a>丹东</a>
							<a>辽阳</a>
							<a>本溪</a>
							<a>葫芦岛</a>
							<a>铁岭</a>
							<a>阜新</a>
						</p>
					</li>
					<li>
						<strong>河北：</strong>
						<p>
							<a>石家庄</a>
							<a>保定</a>
							<a>唐山</a>
							<a>廊坊</a>
							<a>邯郸</a>
							<a>秦皇岛</a>
							<a>沧州</a>
							<a>邢台</a>
							<a>衡水</a>
							<a>张家口</a>
							<a>承德</a>
						</p>
					</li>
					<li><strong>山西：</strong>
						<p>
							<a>太原</a>
							<a>临汾</a>
							<a>大同</a>
							<a>运城</a>
							<a>晋中</a>
							<a>长治</a>
							<a>晋城</a>
							<a>阳泉</a>
							<a>吕梁</a>
							<a>忻州</a>
							<a>朔州</a>
						</p>
					</li>
				</ul>
			</div>
		<div id="head"></div>
		<header>
			<div class="headerbox">
				<div class="headerbox-left">
					<ul>
						<li>欢迎光临沱沱工社！</li>
						<li><a href="html/login.html"><i class="iconfont icon-denglu"></i>登录</a></li>
						<li><a href="html/enroll.html"><i class="iconfont icon-zhuce"></i>注册</a></li>
						<li>
							<span>送货至：</span><input id="showAdd" type="text" value="请选择">
							
						</li>
					</ul>
				</div>
				<div class="headerbox-right">
					<ul>
						<li><a href=""><i class="iconfont icon-shouji"></i>手机沱沱</a></li>
						<li><a href=""><i class="iconfont icon-order"></i>我的沱沱</a></li>
						<li><a href="cart.html"><i class="iconfont icon-lipinqia"></i>充值</a></li>
						<li><a href="">提货</a></li>
					</ul>
				</div>
			</div>
		</header>
		<div class="search">
			<div class="searchbox">
				<a href="../index.html" class="logo"><img src="../img/logo.png"></a>
				<div class="sea-box">
					<form>
						<input id="searchBox"  type="text" value="" placeholder=" 有机蔬菜"/>
						<div id="suggest"></div>
						<a href="">搜 索</a>
					</form>
					<ul>
						<li>热门搜索:</li>
						<li><a href="">奇异果</a></li>
						<li><a href="">有机蔬菜</a></li>
						<li><a href="">黄金蟹</a></li>
						<li><a href="">燕窝</a></li>
						<li><a href="">土鸡蛋</a></li>
						
					</ul>
				</div>
				<div class="searchbox-right">
					<img src="../img/search-bianzhun.jpg">
				</div>
			</div>
		</div>
		<div class="nav">
			<ul>
				<li>全部商品分类</li>
				<li><a href="../index.html">首页</a></li>
				<li><a href=""><i><img src="../img/baoyou.png"></i>沱沱团</a></li>
				<li><a href="">沱沱礼品</a></li>
				<li><a href=""><i><img src="../img/hotsale.gif"></i>宅配卡</a></li>
				<li><a href="">沱沱农场</a></li>
				<li><a href="">入驻沱沱</a></li>
			</ul>
		</div>
		
		<section>
			<div class="sec-topic">
				<p><a href="../index.html">首页</a>&gt<a href="fruitKinds.html">蔬菜水果</a>&gt有机韭菜</p>
			</div>
			<div class="sec-main">
				<div class="sec-main-pic">
					<div class="img" id="magnifying">
						<div class="bigimg">
							<img style="width: 400px; height:400px;position:absolute;top:0;left:0;" src="../img/bigpic2-1.jpg" data-zoom-image="../img/vbigpic2-1.jpg" class="zoom">
							<img style="display:none;width: 400px; height:400px;position:absolute;top:0;left:0;" src="../img/bigpic2-2.jpg" data-zoom-image="../img/vbigpic2-2.jpg">
							<img style="display:none;width: 400px; height:400px;position:absolute;top:0;left:0;" src="../img/bigpic2-3.jpg" data-zoom-image="../img/vbigpic2-3.jpg">
							<img style="display:none;width: 400px; height:400px;position:absolute;top:0;left:0;" src="../img/bigpic2-4.jpg" data-zoom-image="../img/vbigpic2-4.jpg">
						</div>
						
						<ul id="ximgbox">
							<li><img src="../img/littlepic2-1.jpg"></li>
							<li><img src="../img/littlepic2-2.jpg"></li>
							<li><img src="../img/littlepic2-3.jpg"></li>	
							<li><img src="../img/littlepic2-4.jpg"></li>	
						</ul>
					</div>
					
					<!--商品信息模板-->
				</div>
				<div class="sec-main-word">
					<ul class="sec-main-word-l">
						<li><i class="iconfont icon-rexiao"></i>热销排行</li>
						<li>
							<a href="productVegetable.html">
								<img src="../img/section1-pic1.jpg"/>
								<em><i class="iconfont icon-konggouwuche"></i>加入购物车</em>
								<p>有机韭菜（约350g/份)</p>
							</a>
							<span>¥12.50/份</span>
						</li>
						<li>
							<a href="">
								<img src="../img/section1-pic2.jpg"/>
								<em><i class="iconfont icon-konggouwuche"></i>加入购物车</em>
								<p>东方蜜小甜瓜（约400-600g/个）</p>
							</a>
							<span>¥10.80/份</span>
						</li>
						<li>
							<a href="">
								<img src="../img/section1-pic3.jpg"/>
								<em><i class="iconfont icon-konggouwuche"></i>加入购物车</em>
								<p>【豆黄金】天然腐竹 （约157g/袋）</p>
							</a>
							<span>¥62.00/袋</span>
						</li>
						<li>
							<a href="">
								<img src="../img/section1-pic4.jpg"/>
								<em><i class="iconfont icon-konggouwuche"></i>加入购物车</em>
								<p>温县铁棍山药3斤装（垆土礼盒）</p>
							</a>
							<span>¥125.5/盒</span>
						</li>
						<li>
							<a href="">
								<img src="../img/section1-pic5.jpg"/>
								<em><i class="iconfont icon-konggouwuche"></i>加入购物车</em>
								<p>不知火柑（丑柑）（约1kg/份）</p>
							</a>
							<span>¥28.80/份</span>
						</li>
					</ul>	
					<div class="sec-main-word-r">
						<div class="tab">
							<input type="radio" name="tab" id="tab-1" checked="checked"/>
							<label for="tab-1" class="l1">商品详情</label>	
							<input type="radio" name="tab" id="tab-2"/>
							<label for="tab-2" class="l2">购买评论(375)</label>	
							<a id="app-img" href="javascript:void(0);"><b></b>下载手机APP,随时下单<em id="jiantou"></em></a>
							<img  id="code-img" src="../img/t_moblie.png">
						</div>
						<div class="tab_container">
							<div id="tab_container_1">
								<img src="../img/1401.jpg">
								<img src="../img/1402.jpg">
								<img src="../img/1403.jpg"/>
								<img src="../img/1404.jpg">
								<img src="../img/1405.jpg">
								<img src="../img/1406.jpg"/>
								<img src="../img/1407.jpg"/>
							</div>
							
							<div id="tab_container_2">
								<ul class="ul-1">
									<li>
										<p>用户评价</p>
										<p>98%</p>
										<span>好评度</span>		
									</li>
									<li>
										<p>好评<a href="javascript:void(0);"><b></b></a><strong>98%</strong></p>
										<p>中评<a href="javascript:void(0);"><b></b></a><strong>1%</strong></p>
										<p>差评<a href="javascript:void(0);"><b></b></a><strong>1%</strong></p>
									</li>
									<li>
										<span>购买此商品，订单签收后即可发表评论，成功发表一条评论，即获10积分！</span>
										<a>查看所有评论>></a>
										<button>我要评论</button>
									</li>		
								</ul>
								<div class="choose_title">
									<input type="radio" name="pingjia" id="total" checked="checked"/>
									<label for="total" class="l3">全部评价</label>	
									<input type="radio" name="pingjia" id="good"/>
									<label for="good" class="l4">好评</label>	
									<input type="radio" name="pingjia" id="middle"/>
									<label for="middle" class="l5">中评</label>	
									<input type="radio" name="pingjia" id="bad"/>
									<label for="bad" class="l6">差评</label>	
								</div>
								<div class="pingjia_show">
									<ul id="p-total"></ul>
									<ul id="p-good"></ul>
									<ul id="p-middle"></ul>
									<ul id="p-bad"></ul>
								</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
				
		</section>

		
		<footer>
				<div class="foot-pic">
					<img src="../img/foot-pic.jpg">					
				</div>
				<div class="foot-nav">
					<ul>
						<li><h1>新手教程</h1></li>
						<li><a href="">购物流程</a></li>
						<li><a href="">注册登录</a></li>
						<li><a href="">账户充值</a></li>
						<li><a href="">如何提货</a></li>
						<li><a href="">会员政策</a></li>
					</ul>
					<ul>
						<li><h1>配送方式</h1></li>
						<li><a href="">配送范围</a></li>
						<li><a href="">运费标准</a></li>
					</ul>
					<ul>
						<li><h1>支付方式</h1></li>
						<li><a href="">在线支付</a></li>
						<li><a href="">账户余额支付</a></li>
					</ul>
					<ul>
						<li><h1>售后服务</h1></li>
						<li><a href="">退换货政策</a></li>
						<li><a href="">退换货流程</a></li>
						<li><a href="">退款</a></li>
						<li><a href="">投诉建议</a></li>
					</ul>
					<ul>
						<li><h1>帮助信息</h1></li>
						<li><a href="">安全食品采购指南</a></li>
						<li><a href="">常见问题</a></li>
					</ul>
					<ul>
						<li><h1>客户端下载</h1></li>
						<li><img src="../img/foot-code1.jpg"></li>
						<li><img src="../img/foot-weixinq.jpg"></li>
					</ul>
					<ul>
						<li><h1>关注公社微信</h1></li>
						<li><img src="../img/foot-code2.jpg"></li>
						
					</ul>
				</div>
				<div class="foot-bottom">
					<ul>
						<li><a href="">简体</a></li>
						<li><a href="">繁体</a></li>
						<li><a href="">English</a></li>
						<li><a href="">常见问题</a></li>
					</ul>
			
					<p>
						Copyright &copy; 2009-2016 北京沱沱工社生态农业股份有限公司 版权所有 京ICP证100205号 京ICP备09043401号 京公网安备110105019943 食品流通许可证编号SP1101091310024845
					</p>
				</div>
			</footer>	
		<div class="float-box">
			<p><a href="cart.html"><i class="iconfont icon-konggouwuche"></i>购物车</a></p>
			<p><a href=""><i class="iconfont icon-liwu"></i>提货</a></p>
			<p><a href=""><i class="iconfont icon-lipinqia"></i>礼品卡充值</a></p>
			<p><a href=""><i class="iconfont icon-kefu"></i>在线客服</a></p>
			<p><a href="#head"><i class="iconfont icon-arrow-up"></i>回到顶部</a></p>
		</div>
	</body>

	<script type="text/javascript" src="../js/jquery/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../elevateweb-elevatezoom-f6bc619/jquery.elevateZoom-2.2.3.min.js"></script>
	<script type="text/javascript" src="../js/jquery.cookie.js" ></script>
	<script type="text/javascript" src="../artTemplate/template-native.js" ></script>
	<script type="text/html" id="product_intro_template">
		<% for (var i = 0, len = products.length; i < len; i++) { 
			var prod = products[i];
		%>
			<div class="introduce">
				<h1><%= prod.name %></h1>
				<span>沱沱价：￥<b><%= prod.price %></b>/份</span>
				<div id="promotion_sale">
					<span>促销信息：</span>
					<p><%= prod.sale_intro %></p>
				</div><!--促销 -->
				<div id="add_city">
					<em>配送至</em>
					<input class="add_peisong" type="text" placeholder="请选择">
				</div>
				<i>发货地：<%= prod.start_add %></i>
				<input class="_num" type="number" value="1"/>
				<img class="src" style="display: none;" src="<%= prod.src %>">
				<p class="ishave" style="display: none;"><%= prod.ishave %></p>
				<p class="id" style="display: none;"><%= prod.id %></p>
				<button class="btn"><b></b>加入购物车</button>
				
				<div class="share-box">
	           		<b></b>
	            	<em>分享</em>
	            	<a title="分享到新浪微博" class="bshare-sinaminiblog share-01" style="background:url(../img/t_new_shareimg.png) no-repeat;background-position:0 -32px;left:30px;padding-left:0;" href="javascript:;"></a>
	            	<a title="分享到QQ空间" class="bshare-qzone share-02" style="background:url(../img/t_new_shareimg.png) no-repeat;background-position:-29px -32px;left:54px;padding-left:0;" href="javascript:;"></a>
	            	<a title="分享到腾讯微博" class="bshare-qqmb share-03" style="background:url(../img/t_new_shareimg.png) no-repeat;background-position:-55px -32px;left:76px;padding-left:0;" href="javascript:;"></a>
	           		<a title="分享到人人网" class="bshare-renren share-04" style="background:url(../img/t_new_shareimg.png) no-repeat;background-position:-80px -32px;left:98px;padding-left:0;" href="javascript:;"></a>  
	            	<a title="分享到微信" class="bshare-weixin share-05" style="background:url(../img/t_new_shareimg.png) no-repeat;background-position:-106px -32px;left:120px;padding-left:0;" href="javascript:;"></a>                    		
	    		</div>
	    		<span class="collect-text"><a href="javascript:void(0);" id="favorite"><b></b>收藏商品（<em id="favorites">20</em>人）</a></span>
			</div>
			<div class="sec-pic-right">
				<ul class="little-pic">
					<li>
						<img src="../img/product-lpic1.jpg" />
						<span>全程品控</span>
					</li>
					<li>
						<img src="../img/product-lpic2.jpg" />
						<span>冷链配送</span>
					</li>
					<li>
						<img src="../img/product-lpic3.jpg" />
						<span>售后保障</span>
					</li>
				</ul>
				<ul class="brand"> <!--品牌-->
					<li>品牌：<em><%= prod.trademark %></em></li>
					<li>当前存储温度：<%= prod.save_temp %></li>
					<li>建议储藏方法：<%= prod.save_way %></li>
					<li>产地：<%= prod.start_add %></li>
					<li class="stand">规格：<span><%= prod.standard %></span></li>
				</ul>
				<div id="evaluate">
					<span>好评度</span>
					<div><p><%= prod.evaluate %></p></div>
				</div>
			</div>
		<% } %>
	</script>
		
	<script type="text/html" id="pingjia_template">
		<% for (var i = 0, len = pingjia.length; i < len; i++) { 
			var pj = pingjia[i];
		%>
		<li>
			<p><%= pj.pingjia %></p>
			<p><%= pj.pingjiaTime %></p>
			<button>回复评价</button>
			<div><em><%= pj.user %></em><b></b><b></b><b></b><b></b><b></b></div>
		</li>
		<% } %>
	</script>
	<script type="text/javascript">
		$(function(){
			$.ajax({
				url : "../json/productShow_intro.json",
				type : "get",
				dataType : "json",
				success : function(responseData){
					var data = {
						products : responseData
					};
					var html = template("product_intro_template", data);
					console.log(html);
					$("#magnifying").after(html);
				}
			});
			$.ajax({
				url : "../json/productShow_pingjia_total.json",
				type : "get",
				dataType : "json",
				success : function(responseData){
					var data = {
						pingjia : responseData
					};
					var html = template("pingjia_template", data);
					//console.log(html);
					$("#p-total").append(html);
				}
			});
			$.ajax({
				url : "../json/productShow_pingjia_good.json",
				type : "get",
				dataType : "json",
				success : function(responseData){
					var data = {
						pingjia : responseData
					};
					var html = template("pingjia_template", data);
					//console.log(html);
					$("#p-good").append(html);
				}
			});
			$.ajax({
				url : "../json/productShow_pingjia_middle.json",
				type : "get",
				dataType : "json",
				success : function(responseData){
					var data = {
						pingjia : responseData
					};
					var html = template("pingjia_template", data);
					//console.log(html);
					$("#p-middle").append(html);
				}
			});
			$.ajax({
				url : "../json/productShow_pingjia_bad.json",
				type : "get",
				dataType : "json",
				success : function(responseData){
					var data = {
						pingjia : responseData
					};
					var html = template("pingjia_template", data);
					//console.log(html);
					$("#p-bad").append(html);
				}
			});
			//放大镜效果
			$(".zoom").elevateZoom({
				lensShape: "round",
				zoomType: "lens"
			});
			
			var img1=$(".bigimg img");
			//console.log(img1);
			
			$("#ximgbox").on("mouseover","li",function(){
				var _index = $(this).index();
				//console.log(_index);
				//console.log(img1.eq(_index));
				img1.eq(_index).show().end().addClass("zoom");
				img1.eq(_index).siblings().hide().removeClass("zoom");
				$(".zoom").elevateZoom({
				lensShape: "round",
				zoomType: "lens"
				});
			});
		//tab切换
		$(".l1").on("click",function(){
			$("#tab_container_1").show();
			$("#tab_container_2").hide();
		})
		$(".l2").on("click",function(){
			$("#tab_container_2").show();
			$("#tab_container_1").hide();
		})
		//小箭头切换
		$("#app-img").on("mouseover",function(){
			$("#jiantou").css("backgroundPosition","-22px -94px");
			$("#code-img").show();
		});
		
		$("#app-img").on("mouseout",function(){
			$("#jiantou").css("backgroundPosition","2px -17px");
			$("#code-img").hide();
		});
		//评价切换
		$(".l3").on("mouseover",function(){
			$("#p-total").show();
			$("#p-good").hide();
			$("#p-middle").hide();
			$("#p-bad").hide();
		})
		$(".l4").on("mouseover",function(){
			$("#p-total").hide();
			$("#p-good").show();
			$("#p-middle").hide();
			$("#p-bad").hide();
		})
		$(".l5").on("mouseover",function(){
			$("#p-total").hide();
			$("#p-good").hide();
			$("#p-middle").show();
			$("#p-bad").hide();
		})
		$(".l6").on("mouseover",function(){
			$("#p-total").hide();
			$("#p-good").hide();
			$("#p-middle").hide();
			$("#p-bad").show();
		})
		
		//点击地址框，弹出地址栏
		$("#showAdd").click(function(){
			$("#add").show();
			$("#opacityBox").show();
			
			$("a").click(function(event){
				var src = event.target;
				//console.log(src.innerHTML);
				$("#showAdd").val(src.innerHTML);
				//console.log($("#showAdd").value);
				$("#add").hide();
				$("#opacityBox").hide();
			})
		})
		
		$(".sec-main-pic").delegate(".add_peisong","click",function(){
			//console.log("555");
			$("#add").show();
			$("#opacityBox").show();
			
			$("a").click(function(event){
				var src = event.target;
				//console.log(src.innerHTML);
				$(".add_peisong").val(src.innerHTML);
				//console.log($("#showAdd").value);
				$("#add").hide();
				$("#opacityBox").hide();
			})
		})
		
		//点击添加到购物车
		$(".sec-main-pic").delegate(".btn","click",function(){
			var prod_name = $(this).siblings("h1").text();
				prod_standard = $(this).parent().siblings(".sec-pic-right").children(".brand").children(".stand").children("span").text();
				prod_price = $(this).siblings("span").children("b").text();
				prod_src = $(this).siblings("img").attr("src");	
				prod_num = $(this).siblings("._num").val();	
				prod_ishave = $(this).siblings(".ishave").text();	
				prod_id = $(this).siblings(".id").text();	
			//console.log(prod_ishave);
			var cart = {
				name : prod_name,
				standard : prod_standard,
				price : prod_price,
				src : prod_src,
				num : prod_num,
				ishave:prod_ishave,
				id:prod_id
			};
			$.cookie.json = true;
			var _cartProd=$.cookie("cartProd")||[];
			var _index = indexOf(cart.id, _cartProd);
			//console.log(_index);
				if (_index === -1) { // 以前未选购
					_cartProd.push(cart);
				} else { // 以前有选购当前的商品
					//console.log("以前选购过");
					_cartProd[_index].num++;
				}

			console.log(_cartProd);
			$.cookie("cartProd",_cartProd,{expires:7});
			})
		
			function indexOf(id, products) {
				for (var i = 0, len = products.length; i < len; i++) {
					if (id === products[i].id)
						return i;
				}

				return -1;
			}
			
			/*$.cookie.json = true;
			var _cartProd=$.cookie("cartProd")||[];
			console.log(_cartProd);
			_cartProd.push(cart);
			$.cookie("cartProd",_cartProd,{expires:7});*/
	
	});
	</script>
	
	
		
</html>
